In [1]:
from url_handler import ParserData, ParserController, ParserInterface

In [2]:
# Remove unwanted columns...
new_file_data = ""
with open("./req_fake_data.csv", mode='r') as _f:
    for _el in _f:
        if(_el[-2]==","):
            new_file_data += _el[:-2]+"\n"

if not new_file_data == "":
    with open("./req_fake_data.csv", mode='w') as _f:
        _f.write(new_file_data)

In [3]:
path_to_csv = "./req_fake_data.csv"
path_to_urls = "./possible_endpoints.txt"

test_data = ParserData(path_to_csv, path_to_urls)
test_data.dataframe.head(5)

             path           date-time        date      time
0         /admin/ 2022-08-22 04:40:50  2022-08-22  04:40:50
1   /admin/login/ 2022-09-11 20:20:10  2022-09-11  20:20:10
2  /admin/logout/ 2022-06-02 10:53:04  2022-06-02  10:53:04
3  /admin/update/ 2022-08-27 21:14:18  2022-08-27  21:14:18
4       /kittens/ 2022-08-01 12:59:55  2022-08-01  12:59:55

## Working through Controller Methods

In [4]:
newParser = ParserController(path_to_csv, path_to_urls)
qd = {"low": 25, "med": 50, "high": 75, "very-high": 100}
_ex = ['/kittens/', "ok"]
newParser.testMe(qd, _ex)

                           requests      usage     root
urls
/admin/                          14  very-high    admin
/admin/login/                     4        low    admin
/admin/logout/                    4        low    admin
/admin/update/                    6        med    admin
/kittens/meow/                   10  very-high  kittens
/kittens/hiss/                    4        low  kittens
/kittens/scratch/                 4        low  kittens
/kittens/pur/                    16  very-high  kittens
/kittens/knockover/               8       high  kittens
/kittens/knockover/glass/         6        med  kittens
/kittens/knockover/vase/          6        med  kittens
/kittens/nap/                     0       none  kittens

In [5]:
newParser.monthly_groups(13)

datetime.datetime(2022, 8, 20, 0, 0)